@import '../../scss/app/vars';

.form {
  background: $white;
  box-shadow: $shadow-light;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.125rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
}
