@import './app/vars';
@import './app/common';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

body {
  font-size: $font-size;
  background: $body-background;
  color: $text-color;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
}

.form {
  background: $white;
  box-shadow: $shadow-light;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.125rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
}
